<!DOCTYPE html>
<html>
  <head>
    <title>Emporio La Coruña</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p>Modificando el layout antes</p>

    <%= yield %>

      <p>Modificando el layout despues</p>

  </body>
</html>
